---
layout: base
permalink: /
---

<header>
  <div class="p-y b-head">
    <div class="container">
      <div class="row m-t-md">
        <div class="col-sm-8">
          <p class="pull-right">{{ site.company.phone }}</p>
          <p>Лира Кучукова — диетолог</p>
        </div>
      </div>
    </div>

    <div class="container m-y-lg">
      <div class="row m-t-md">
        <div class="col-sm-8">
          <p>Худеем с&nbsp;пользой для&nbsp;здоровья</p>
          <h1 class="m-y b-head__title">Минус 18&nbsp;кг за&nbsp;2&nbsp;месяца</h1>
          <p>Практический онлайн-курс Лиры&nbsp;Кучуковой<br/>по&nbsp;похудению</p>
          <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-primary btn-lg m-t-md"><b>Записаться на&nbsp;консультацию</b><br/>чтобы узнать больше о&nbsp;курсе</button>
        </div>
      </div>
    </div>
  </div> <!-- /.b-head -->
</header>


<div class="block">
  <div class="container">
    <h2 class="text-center m-b-lg">Хотите похудеть?</h2>
    <div class="row">
      <div class="col-sm-6">
        <h4>Быть лёгкой, уверенной и&nbsp;стройной</h4>
        <p>Носить красивые, обтягивающие наряды
        <br/>Покупать то, что хочется, а&nbsp;не&nbsp;то, что&nbsp;«налезет»
        <br/>С&nbsp;удовольствием смотреть на&nbsp;себя в&nbsp;зеркало</p>
      </div>
      <div class="col-sm-6">
        <h4>Выглядеть моложе и&nbsp;быть сексуальной</h4>
        <p>Ловить восхищенные взгляды мужчин
        <br/>Чувствовать себя энергичной и&nbsp;счастливой
        <br/>Быть примером своим детям</p>
      </div> 
    </div> 
  </div>
</div> <!-- /.b-what -->


<div class="block b-flag">
  <div class="container">
    <h2>Научу вас управлять своим весом</h2>
    <p class="lead">Лишний вес уйдёт за&nbsp;месяц и&nbsp;больше не&nbsp;вернётся</p>

    <div class="row">
      <div class="col-md-6">
        <h4>Быстро и&nbsp;эффективно</h4>
        <p>Обычно участницы курса сбрасывают от&nbsp;5 до&nbsp;12&nbsp;килограмм лишнего веса в&nbsp;месяц</p>
      </div>
      <div class="col-md-6">
        <h4>С&nbsp;пользой для здоровья</h4>
        <p>Перестанете вредить своему организму и&nbsp;будете чувствовать себя бодрой и&nbsp;счастливой</p>
      </div>
      <div class="col-md-6">
        <h4>Раз и&nbsp;навсегда</h4>
        <p>Создадите новые привычки&nbsp;— правильно питаться и&nbsp;быть стройной станет нормой</p>
      </div>
      <div class="col-md-6">
        <h4>Легко и играючи</h4>
        <p>Курс проходит в&nbsp;игровой форме, победитель получает приз&nbsp;— семейную фотосессию</p>
      </div>
    </div>
  </div>
</div>

<div class="block b-scheme">
  <div class="container">
    <h2 class="b-scheme__title text-center">Курс идёт 4&nbsp;недели</h2>
    <p class="text-center m-b-lg">Занятия проходят в&nbsp;закрытой группе ВКонтакте</p>
    <div class="row">
      <div class="col-md-6">
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">1</div>
          <h4>Питание и&nbsp;постановка целей</h4>
          <p>Составите меню и&nbsp;режим питания для похудения
            <br/>Перейдёте на&nbsp;полноценное и&nbsp;сбалансированное питание
            <br/>В&nbsp;питании будут нужные витамины и&nbsp;микроэлементы
            <br/>Проведёте разгрузочный день с&nbsp;пользой для здоровья
            <br/>Рассчитаете здоровый вес тела и&nbsp;создадите план по&nbsp;достижению
            <br/>Получите дополнительную мотивацию и&nbsp;энергию для снижения веса тела
            <br/>Постановите цели по&nbsp;технологии SMART</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">2</div>
          <h4>Физические нагрузки и&nbsp;массаж</h4>
          <p>Узнаете методику создания подтянутого и&nbsp;стройного тела
            <br/>Выберете физические нагрузки для похудения
            <br/>Подберём упражнения из&nbsp;йоги, аэробики и&nbsp;гимнастики
            <br/>Научитесь сжигать жир в&nbsp;нужных местах с&nbsp;помощью простой техники массажа
            <br/>Получите мотивацию на&nbsp;успех
            <br/>Примените методики управления временем
            <br/>Станете счастливее</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">3</div>
          <h4>Пищевые привычки</h4>
          <p>Узнаете 6&nbsp;пищевых инстинктов, от&nbsp;которых вы&nbsp;набираете вес
            <br/>Получите психологические методики исправления неправильных пищевых привычек
            <br/>Избавитесь от&nbsp;тяги к&nbsp;сладкому
            <br/>Научитесь визуализации для достижения результата
            <br/>Выработаете привычку правильно питаться, чтобы продлить себе жизнь
            <br/>Составите план счастливой жизни и&nbsp;сделаете первые шаги по&nbsp;плану</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="b-scheme__item m-t-md p-l-lg">
          <div class="b-scheme__number">4</div>
          <h4>Профилактика набора веса</h4>
          <p>Внедрите новый режим питания и&nbsp;физические нагрузки
            <br/>Закрепите результат
            <br/>Выработаете пищевое поведение для профилактики набора веса тела
            <br/>Получите технику увеличения счастья в&nbsp;жизни
            <br/>Узнаете закон &laquo;бумеранга&raquo; и&nbsp;методику позитивного отношения к&nbsp;трудностям
            <br/>Избавитесь от&nbsp;синдрома &laquo;тётки&raquo; и&nbsp;вернёте молодости души
            <br/>Создадите баланс в&nbsp;сферах жизни для достижения счастья и&nbsp;гармонии</p>
        </div>
      </div>
    </div>
    <div class="frame m-t-lg p-x-lg p-y-lg">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="text-center m-b-md m-t-0">Результат курса</h2>
          <p>Похудели легко и&nbsp;играючи и&nbsp;знаете, как оставаться стройной много лет.
          <br/>При выполнении заданий курса вес снизится на&nbsp;5-12&nbsp;кг за&nbsp;месяц
          <br/>Получите навык управлять весом и&nbsp;жизнью</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.b-scheme -->



<div class="block block-inverse b-confidence">
  <div class="container text-center">
    <h2>Восхищённые взгляды мужчин — в подарок!</h2>
  </div>
</div>


<div class="block b-mentor">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/lira.jpg" alt="photo" class="b-mentor__image shadow">
        <p class="m-b-lg m-t text-center">Лира Кучукова&nbsp;&mdash; автор курса</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h2 class="b-mentor__title m-b-md">Курс ведёт Лира&nbsp;Кучукова</h2>

        <ul class="b-mentor__list">
          <li>Диетолог, тренер по&nbsp;здоровому похудению</li>
          <li>Сама похудела на 21 кг благодаря своей программе</li>
          <li>Довела до результата в минус 5-12 кг десятки учеников</li>
        </ul>

        <blockquote class="m-t-md">С&nbsp;удовольствием помогу достичь цели&nbsp;&mdash; стать стройной, перестать комплексовать из-за фигуры, начать жить счастливой, гармоничной жизнью. Записывайтесь на&nbsp;курс.</blockquote>
      </div>
    </div>
  </div>
</div> <!-- /.b-mentor -->


<div class="block b-join p-t-0">
  <div class="container">
    <div class="b-join__content p-y-lg p-x-lg">
      <h2>Запишитесь на&nbsp;бесплатную консультацию чтобы узнать больше о&nbsp;курсе</h2>
      <div class="row">
        <div class="col-md-6 p-t-lg">
          <p>Первое занятие курса&nbsp;&mdash; бесплатная консультация, на&nbsp;которой Лира лично расскажет вам про формат курса и&nbsp;возможные варианты участия.</p>

          <p>Если вы&nbsp;хотите похудеть с&nbsp;пользой для здоровья&nbsp;— запишитесь на&nbsp;консультацию.</p>
        </div>
        <div class="col-md-6">
          <div class="form-well">
            {% include form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Записаться на консультацию</h4>
      </div>
      <div class="modal-body">
        {% include form.html %}
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="block b-footer m-t-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>{{ site.company.phone }}</p>
          <p>{{ site.company.email }}</p>
        </div>
        <div class="col-md-4 m-b">
          <div id="vk_groups"></div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <p>{{ site.company.name }}<br/>{{ site.company.info }}</p>
          <p><a href="http://soedinennost.com/privacy">Политика конфиденциальности</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", {{ site.vk_group_id }}, {});
</script>

<!-- VK Widget -->
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "auto"}, {{ site.vk_group_id }});
</script>
